src_top/*.vhd.bak
src_top/*.sdc.bak

src_top_fpga/*.vhd.bak
src_top_fpga/*.sdc.bak

src_top_fpga_bonus/*.vhd.bak
src_top_fpga_bonus/*.sdc.bak

syn/top/db
syn/top/incremental_db
syn/top/output_files
syn/top_fpga/db

syn/top_fpga/incremental_db
syn/top_fpga/output_files

tests/transcript
tests/vsim.wlf